In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
import os
os.chdir ('/content/drive/My Drive/Data Analytics, ML, DL Workshop/Data Analytics - DAY 1')

#Panel Data = Pandas

EDA ( Exploratory Data Analysis )

Using Pandas, we can accomplish five typical steps in the processing and 
analysis of data, regardless of the origin of data — 
load, prepare, manipulate, model, and analyze.

*`pip install pandas`*

Pandas deals with the following three data structures −

    Series      -   1 Dimensional 
    DataFrame   -   2 Dimensional 
    Panel       -   3 Dimensional 

DataFrame is a container of Series, Panel is a container of DataFrame.
(Visualisation of Data Frame)


Series is a one-dimensional array like structure with homogeneous data with immutable size. 


DataFrame ( tabular Data ) is a two-dimensional array with heterogeneous data with mutable size.
think of index (the rows) and the columns rather than axis 0 and axis 1.


Panel is a three-dimensional data structure with heterogeneous data.
Graphical Representation is similar to the 3D Array
Layers for tabular data

In [0]:
import pandas as pd

#Series

In [0]:
"""
Create an Empty Series
"""
s = pd.Series()
print (type(s))
print (s)

<class 'pandas.core.series.Series'>
Series([], dtype: float64)

In [0]:
"""
Create a Series from list
"""
import pandas as pd

thelist = [ 'sentence 1', 'sentence 2', 'sentence 3' ]
s = pd.Series( thelist )
print (s)

0    sentence 1
1    sentence 2
2    sentence 3
dtype: object

In [0]:
"""
Create a Series from ndarray
"""
import numpy as np
import pandas as pd
data = np.array(['a','b','c','d'])
print (type(data ))

<class 'numpy.ndarray'>

In [0]:
s = pd.Series(data)
print (type(s))
print (s)
# We did not pass any index, so by default, 
# it assigned the indexes ranging from 0 to len(data)-1

<class 'pandas.core.series.Series'>
0    a
1    b
2    c
3    d
dtype: object

In [0]:
# This returns range which can be converted to list
print (s.index[:])

RangeIndex(start=0, stop=4, step=1)

In [0]:
# This always returns an ndarray 
print (s.values[:])

['sentence 1' 'sentence 2' 'sentence 3']

In [0]:
"""
Customised Index value
"""
data = np.array(['a','b','c','d'])
s = pd.Series(data,index=[100,101,102,103])
print (s)

In [0]:
"""
Accessing Data from Series with Position
"""
# Data in the series can be accessed similar to that in an ndarray.
# No doubt we have given indexes, but we are accessing using position 
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print (s)

a    1
b    2
c    3
d    4
e    5
dtype: int64
1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64

In [0]:
#retrieve the first element
print (s[0])

In [0]:
#retrieve the first three element
print (s[:3])

In [0]:
#retrieve the last three element
print (s[-3:])

#DataFrame

A Data frame is a two-dimensional data structure, i.e., 
data is aligned in a tabular fashion in rows and columns.
You can think of it as an SQL table or a spreadsheet data representation

In [0]:
"""
Create an Empty DataFrame
"""
import pandas as pd
df = pd.DataFrame()
print (df)

In [0]:
"""
Create a DataFrame from Lists
"""
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print (df)

In [0]:
"""
Create a DataFrame from List of Lists
"""
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

In [0]:
"""
Create a DataFrame from Dict of Series
"""
# Dictionary of Series can be passed to form a DataFrame. 
# The resultant index is the union of all the series indexes passed.
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
      'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [0]:
# Row Selection by Label or index
print (df.loc['d'])

<class 'pandas.core.series.Series'>

In [0]:
# Selection by integer location
print (df.iloc[1]) # position by default starts from 0 for the indexes

one    2.0
two    2.0
Name: b, dtype: float64

1. Getting and Knowing Your Data
2. Filtering and Sorting
3. Grouping
4. Apply
5. Merge
6. Stats
7. Visualisation
8  Creatig Series and Data FRame
9. Time Series
10. Deleting
11 Indexing

    Read and examine a dataset and classify variables by their type: quantitative vs. categorical
    Handle categorical variables with numerically coded values
    Perform univariate and bivariate analysis and derive meaningful insights about the dataset
    Identify and treat missing values and remove dataset outliers
    Build a correlation matrix to identify relevant variables

>>> Indexing

>>> Computation

>>> Grouping

>>> Aggregation

In [0]:
#Read csv file
df = pd.read_csv("Salaries.csv")

In [0]:
# Not a good technique to print the Data Frame
print (df)

         rank discipline   phd  service     sex    salary
0        Prof          B  56.0       49    Male  186960.0
1        Prof          A  12.0        6    Male   93000.0
2        Prof          A  23.0       20    Male  110515.0
3        Prof          A  40.0       31    Male  131205.0
4        Prof          B  20.0       18    Male  104800.0
5        Prof          A  20.0       20    Male  122400.0
6   AssocProf          A  20.0       17    Male   81285.0
7        Prof          A  18.0       18    Male       NaN
8        Prof          A  29.0       19    Male   94350.0
9        Prof          A  51.0       51    Male   57800.0
10       Prof          B  39.0       33    Male  128250.0
11       Prof          B  23.0       23    Male  134778.0
12   AsstProf          B   1.0        0    Male   88000.0
13       Prof          B   NaN       33    Male  162200.0
14       Prof          B  25.0       19    Male  153750.0
15       Prof          B  17.0        3    Male  150480.0
16   AsstProf          B   8.0        3    Male   75044.0
17   AsstProf          B   4.0        0    Male   92000.0
18       Prof          A  19.0        7    Male  107300.0
19       Prof          A  29.0       27    Male  150500.0
20   AsstProf          B   4.0        4    Male   92000.0
21       Prof          A  33.0       30    Male  103106.0
22   AsstProf          A   4.0        2    Male   73000.0
23   AsstProf          A   2.0        0    Male   85000.0
24       Prof          A  30.0       23    Male   91100.0
25       Prof          B  35.0       31    Male   99418.0
26       Prof          A  38.0       19    Male  148750.0
27       Prof          A  45.0       43    Male  155865.0
28   AsstProf          B   7.0        2    Male       NaN
29       Prof          B  21.0       20    Male  123683.0
..        ...        ...   ...      ...     ...       ...
48       Prof          B  17.0       17  Female  111512.0
49       Prof          B  17.0       18  Female  122960.0
50   AsstProf          B  10.0        5  Female   97032.0
51       Prof          B  20.0       14  Female  127512.0
52       Prof          A  12.0        0  Female  105000.0
53   AsstProf          A   5.0        3  Female   73500.0
54  AssocProf          A  25.0       22  Female   62884.0
55   AsstProf          A   2.0        0  Female   72500.0
56  AssocProf          A  10.0        8  Female   77500.0
57   AsstProf          A   3.0        1  Female   72500.0
58       Prof          B  36.0       26  Female  144651.0
59  AssocProf          B  12.0       10  Female  103994.0
60   AsstProf          B   3.0        3  Female   92000.0
61  AssocProf          B  13.0       10  Female  103750.0
62  AssocProf          B  14.0        7  Female  109650.0
63       Prof          A  29.0       27  Female   91000.0
64  AssocProf          A  26.0       24  Female   73300.0
65       Prof          A  36.0       19  Female  117555.0
66   AsstProf          A   7.0        6  Female   63100.0
67       Prof          A  17.0       11  Female   90450.0
68   AsstProf          A   4.0        2  Female   77500.0
69       Prof          A  28.0        7  Female  116450.0
70   AsstProf          A   8.0        3  Female   78500.0
71  AssocProf          B  12.0        9  Female   71065.0
72       Prof          B  24.0       15  Female  161101.0
73       Prof          B  18.0       10  Female  105450.0
74  AssocProf          B  19.0        6  Female  104542.0
75       Prof          B  17.0       17  Female  124312.0
76       Prof          A  28.0       14  Female  109954.0
77       Prof          A  23.0       15  Female  109646.0

[78 rows x 6 columns]

In [0]:
df.info()  # phd and salary column has 76 entries, 2 missing or not null values

In [0]:
#number of dimensions
df.ndim

In [0]:
#return a tuple representing the dimensionality
df.shape

In [0]:
#number of elements
df.size    #( 78 * 6 = 468 )

In [0]:
#List first 5 records
df.head()

In [0]:
df.head(10)

In [0]:
df.tail(5)

In [0]:
# Gives the row Indexes
df.index        # list(df.index) or df.index.tolist()

RangeIndex(start=0, stop=78, step=1)

In [0]:
#list the column names / column Indexes
df.columns      # list(df.columns) df.columns.tolist()

In [0]:
#list the row labels/index and column names
df.axes

In [0]:
#Check types for all the columns
df.dtypes

In [0]:
#numpy representation of the data
df.values   # return ndarray of ndarray or list of lists

array([['Prof', 'B', 56.0, 49, 'Male', 186960.0],
       ['Prof', 'A', 12.0, 6, 'Male', 93000.0],
       ['Prof', 'A', 23.0, 20, 'Male', 110515.0],
       ['Prof', 'A', 40.0, 31, 'Male', 131205.0],
       ['Prof', 'B', 20.0, 18, 'Male', 104800.0],
       ['Prof', 'A', 20.0, 20, 'Male', 122400.0],
       ['AssocProf', 'A', 20.0, 17, 'Male', 81285.0],
       ['Prof', 'A', 18.0, 18, 'Male', nan],
       ['Prof', 'A', 29.0, 19, 'Male', 94350.0],
       ['Prof', 'A', 51.0, 51, 'Male', 57800.0],
       ['Prof', 'B', 39.0, 33, 'Male', 128250.0],
       ['Prof', 'B', 23.0, 23, 'Male', 134778.0],
       ['AsstProf', 'B', 1.0, 0, 'Male', 88000.0],
       ['Prof', 'B', nan, 33, 'Male', 162200.0],
       ['Prof', 'B', 25.0, 19, 'Male', 153750.0],
       ['Prof', 'B', 17.0, 3, 'Male', 150480.0],
       ['AsstProf', 'B', 8.0, 3, 'Male', 75044.0],
       ['AsstProf', 'B', 4.0, 0, 'Male', 92000.0],
       ['Prof', 'A', 19.0, 7, 'Male', 107300.0],
       ['Prof', 'A', 29.0, 27, 'Male', 150500.0],
       ['AsstProf', 'B', 4.0, 4, 'Male', 92000.0],
       ['Prof', 'A', 33.0, 30, 'Male', 103106.0],
       ['AsstProf', 'A', 4.0, 2, 'Male', 73000.0],
       ['AsstProf', 'A', 2.0, 0, 'Male', 85000.0],
       ['Prof', 'A', 30.0, 23, 'Male', 91100.0],
       ['Prof', 'B', 35.0, 31, 'Male', 99418.0],
       ['Prof', 'A', 38.0, 19, 'Male', 148750.0],
       ['Prof', 'A', 45.0, 43, 'Male', 155865.0],
       ['AsstProf', 'B', 7.0, 2, 'Male', nan],
       ['Prof', 'B', 21.0, 20, 'Male', 123683.0],
       ['AssocProf', 'B', 9.0, 7, 'Male', 107008.0],
       ['Prof', 'B', 22.0, 21, 'Male', 155750.0],
       ['Prof', 'A', 27.0, 19, 'Male', 103275.0],
       ['Prof', 'B', 18.0, 18, 'Male', 120000.0],
       ['AssocProf', 'B', nan, 8, 'Male', 119800.0],
       ['Prof', 'B', 28.0, 23, 'Male', 126933.0],
       ['Prof', 'B', 45.0, 45, 'Male', 146856.0],
       ['Prof', 'A', 20.0, 8, 'Male', 102000.0],
       ['AsstProf', 'B', 4.0, 3, 'Male', 91000.0],
       ['Prof', 'B', 18.0, 18, 'Female', 129000.0],
       ['Prof', 'A', 39.0, 36, 'Female', 137000.0],
       ['AssocProf', 'A', 13.0, 8, 'Female', 74830.0],
       ['AsstProf', 'B', 4.0, 2, 'Female', 80225.0],
       ['AsstProf', 'B', 5.0, 0, 'Female', 77000.0],
       ['Prof', 'B', 23.0, 19, 'Female', 151768.0],
       ['Prof', 'B', 25.0, 25, 'Female', 140096.0],
       ['AsstProf', 'B', 11.0, 3, 'Female', 74692.0],
       ['AssocProf', 'B', 11.0, 11, 'Female', 103613.0],
       ['Prof', 'B', 17.0, 17, 'Female', 111512.0],
       ['Prof', 'B', 17.0, 18, 'Female', 122960.0],
       ['AsstProf', 'B', 10.0, 5, 'Female', 97032.0],
       ['Prof', 'B', 20.0, 14, 'Female', 127512.0],
       ['Prof', 'A', 12.0, 0, 'Female', 105000.0],
       ['AsstProf', 'A', 5.0, 3, 'Female', 73500.0],
       ['AssocProf', 'A', 25.0, 22, 'Female', 62884.0],
       ['AsstProf', 'A', 2.0, 0, 'Female', 72500.0],
       ['AssocProf', 'A', 10.0, 8, 'Female', 77500.0],
       ['AsstProf', 'A', 3.0, 1, 'Female', 72500.0],
       ['Prof', 'B', 36.0, 26, 'Female', 144651.0],
       ['AssocProf', 'B', 12.0, 10, 'Female', 103994.0],
       ['AsstProf', 'B', 3.0, 3, 'Female', 92000.0],
       ['AssocProf', 'B', 13.0, 10, 'Female', 103750.0],
       ['AssocProf', 'B', 14.0, 7, 'Female', 109650.0],
       ['Prof', 'A', 29.0, 27, 'Female', 91000.0],
       ['AssocProf', 'A', 26.0, 24, 'Female', 73300.0],
       ['Prof', 'A', 36.0, 19, 'Female', 117555.0],
       ['AsstProf', 'A', 7.0, 6, 'Female', 63100.0],
       ['Prof', 'A', 17.0, 11, 'Female', 90450.0],
       ['AsstProf', 'A', 4.0, 2, 'Female', 77500.0],
       ['Prof', 'A', 28.0, 7, 'Female', 116450.0],
       ['AsstProf', 'A', 8.0, 3, 'Female', 78500.0],
       ['AssocProf', 'B', 12.0, 9, 'Female', 71065.0],
       ['Prof', 'B', 24.0, 15, 'Female', 161101.0],
       ['Prof', 'B', 18.0, 10, 'Female', 105450.0],
       ['AssocProf', 'B', 19.0, 6, 'Female', 104542.0],
       ['Prof', 'B', 17.0, 17, 'Female', 124312.0],
       ['Prof', 'A', 28.0, 14, 'Female', 109954.0],
       ['Prof', 'A', 23.0, 15, 'Female', 109646.0]], dtype=object)

In [0]:
# generate descriptive statistics (for numeric columns only)
# Standard Deviation is quite useful tool to figure out 
# how the data is spread above or below the mean.
# The higher the value, the less is reliable or vice versa. 
df.describe() # For Numeric Columns only
              # This gives a missing values in salary and phd columns

             phd    service         salary
count  76.000000  78.000000      76.000000
mean   19.605263  15.051282  108003.355263
std    12.508215  12.139768   28525.350088
min     1.000000   0.000000   57800.000000
25%    10.000000   5.250000   87250.000000
50%    18.500000  14.500000  104671.000000
75%    27.250000  20.750000  127077.750000
max    56.000000  51.000000  186960.000000

In [0]:
# In order to see statistics on non-numerical features,
#df.describe(include=['object', 'bool','float64','int64'])
df.describe(include=['object', 'bool'])
#df.describe(include=['float64','int64'])
df.describe(include=['object','float64','int64'])

        rank discipline        phd    service     sex         salary
count     78         78  76.000000  78.000000      78      76.000000
unique     3          2        NaN        NaN       2            NaN
top     Prof          B        NaN        NaN  Female            NaN
freq      46         42        NaN        NaN      39            NaN
mean     NaN        NaN  19.605263  15.051282     NaN  108003.355263
std      NaN        NaN  12.508215  12.139768     NaN   28525.350088
min      NaN        NaN   1.000000   0.000000     NaN   57800.000000
25%      NaN        NaN  10.000000   5.250000     NaN   87250.000000
50%      NaN        NaN  18.500000  14.500000     NaN  104671.000000
75%      NaN        NaN  27.250000  20.750000     NaN  127077.750000
max      NaN        NaN  56.000000  51.000000     NaN  186960.000000

In [0]:
#return max values for all columns in form of Series
df.max()

rank            Prof
discipline         B
phd               56
service           51
sex             Male
salary        186960
dtype: object

In [0]:
#return min values for all columns in form of Series
df.min()

rank          AssocProf
discipline            A
phd                   1
service               0
sex              Female
salary            57800
dtype: object

In [0]:
df.mean()
df.median()
df.std()

In [0]:
print(df.mean())
print(df.median())
print(df.std())

In [0]:
#What are the mean values of the first 50 records in the dataset?
df.head(50).mean()

In [0]:
#returns a random sample of the data frame
df.sample(5)

In [0]:
"""
Data Frames: method loc

If we need to select a range of rows, using their labels/index 
we can use method loc
"""
df.loc[:1]   # Both are inclusive for row

   rank discipline   phd  service   sex    salary
0  Prof          B  56.0       49  Male  186960.0
1  Prof          A  12.0        6  Male   93000.0

In [0]:
df.loc[10:20]

        rank discipline   phd  service   sex    salary
10      Prof          B  39.0       33  Male  128250.0
11      Prof          B  23.0       23  Male  134778.0
12  AsstProf          B   1.0        0  Male   88000.0
13      Prof          B   NaN       33  Male  162200.0
14      Prof          B  25.0       19  Male  153750.0
15      Prof          B  17.0        3  Male  150480.0
16  AsstProf          B   8.0        3  Male   75044.0
17  AsstProf          B   4.0        0  Male   92000.0
18      Prof          A  19.0        7  Male  107300.0
19      Prof          A  29.0       27  Male  150500.0
20  AsstProf          B   4.0        4  Male   92000.0

In [0]:
df.loc[10:20,['rank', 'phd']]

        rank   phd
10      Prof  39.0
11      Prof  23.0
12  AsstProf   1.0
13      Prof   NaN
14      Prof  25.0
15      Prof  17.0
16  AsstProf   8.0
17  AsstProf   4.0
18      Prof  19.0
19      Prof  29.0
20  AsstProf   4.0

In [0]:
"""
Data Frames: method iloc

If we need to select a range of rows and/or columns, 
using their positions we can use method iloc
"""

df.iloc[:2] # 2 is not inclusive for row

   rank discipline   phd  service   sex    salary
0  Prof          B  56.0       49  Male  186960.0
1  Prof          A  12.0        6  Male   93000.0

In [0]:
df.iloc[ 10:21]

In [0]:
df.iloc[ 10:21 , [0,4] ]

In [0]:
df.iloc[0] # First row of a data frame

df.iloc[1:5, :-1] # Leave last columns

df.iloc[:, 0] # First column

df.iloc[:, -1] # Last column

df.iloc[0:7] #First 7 rows

df.iloc[:, 0:2] #First 2 columns

df.iloc[1:3, 0:2] #Second through third rows and first 2 columns

df.iloc[[0,5], [1,3]] #1st and 6throws and 2nd and 4thcolumns